<div class="container">
  <div class="picker-wrapper">
    <kendo-datepicker
      [min]="minDate"
      [value]="dateOnlyValue"
      (valueChange)="onDateOnlyChange($event)"
      (close)="onClose('DatePicker')"
      (blur)="onBlur('DatePicker')"
      (focus)="onFocus('DatePicker')"
      (open)="onOpen('DatePicker')"
      [footer]="false"
      [animateCalendarNavigation]="true"
      calendarType="classic"
      [bottomView]="'month'"
      [topView]="'month'"
    >
    </kendo-datepicker>
  </div>

  <div class="picker-wrapper">
    <kendo-datetimepicker
      [min]="minDate"
      [format]="'dd/MM/yyyy hh:mm a'"
      [steps]="{ minute: 30 }"
      [value]="dateTimeValue"
      (valueChange)="onDateTimeChange($event)"
      (close)="onClose('DateTimePicker')"
      (blur)="onBlur('DateTimePicker')"
      (focus)="onFocus('DateTimePicker')"
      (open)="onOpen('DateTimePicker')"
      [footer]="false"
      calendarType="classic"
    >
    </kendo-datetimepicker>
  </div>
</div>
